<p id="notice"><%= notice %></p>

<h1>Messages</h1>


    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= link_to 'Show', conversation %></td>
        <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


<br>

