<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Lifelines!</h1>
    <p>We're glad you're with us. Be it as a donor, or just to spread the news, we appreciate that you took a step forward to help.</p>
        <p>You're going to be a hero.</p>
        <p>Be sure to turn on your notifications!</p>

        <p>Love, Chelsea from Lifelines</p>

  </body>
</html>