.container-fluid{
    padding: 0;
}

.appeal-listing {
    box-sizing: border-box;
}

.appeal-listing:hover {
    border: 1px solid lightgray
}

.result-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer
}
