.container-fluid{
    padding: 0;
}

.appeal-listing {
    box-sizing: border-box;
}

.appeal-listing:hover {
    background-color: lightgrey;
}

.result-thumbnail {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer
}

.w-90{
    width: 90%
}